.highlight, pre.highlight, .highlight pre {
  color: #FFFFFF;
  background-color: #000000;
}

.highlight .k,
.highlight .kd {
  color: #60BF60;
  font-weight: bold;
}

.highlight .nb, .highlight .nt {
  color: #60BF60;
}

.highlight .n {
  color: #FFFFFF;
}

.highlight .nn {
  color: #FFFFFF;
}

.highlight .nc {
  color: #FFFFBF;
}

.highlight .nd {
  color: #50B4FF;
  font-style: italic;
}

.highlight .nf {
  color: #BFFFFF;
  text-decoration: underline;
}

.highlight .p {
  color: #FFFF00;
}

.highlight .se, .highlight .si {
  color: #FFFF00;
}

.highlight .py {
  color: #60BFBF;
}

.highlight .s, .highlight .s1, .highlight .s2 {
  color: #FF8080;
  font-weight: bold;
}
